@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #eee2dc;
}

.content {
  display: inline-block;
  margin-top: 100px;
  overflow-x: hidden;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate3 4s ease-in-out infinite;
}

@keyframes animate3 {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.wrap {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 200px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #03a9f4;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(200px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #03a9f4;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}

button::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #03a9f4;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game {
  margin-top: 150px !important;
  width: 800px;
  height: 200px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
}

#character {
  width: 50px;
  height: 50px;
  background-image: url("img/trex.png");
  background-size: 50px 50px;
  position: relative;
  top: 150px;
}

#bird {
  background-image: url("img/bird.png");
  background-size: 30px 40px;
  width: 30px;
  height: 40px;
  position: relative;
  top: 75px;
  left: 800px;
}

.animate {
  animation: jump 0.3s linear;
}

.animateDuck {
  animation: duck 0.5s linear;
}

@keyframes duck {
  0% {
    top: 150px;
    background-image: url("img/trex.png");
  }
  30% {
    top: 165px;
    background-image: url("img/trex-duck.png");
  }
  70% {
    top: 165px;
    background-image: url("img/trex-duck.png");
  }
  100% {
    top: 150px;
    background-image: url("img/trex.png");
  }
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 100px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  background-image: url("img/cactus.png");
  background-size: 20px 40px;
  width: 20px;
  height: 40px;
  position: relative;
  top: 70px;
  left: 800px;
}

#block2 {
  background-image: url("img/cactus2.png");
  background-size: 35px 40px;
  width: 35px;
  height: 40px;
  position: relative;
  top: 33px;
  left: 800px;
}

.animate1 {
  animation: block 2s infinite linear;
  animation-delay: 0.2s;
}

.animate2 {
  animation: block 2s infinite linear;
  animation-delay: 0.8s;
}

.animateBird {
  animation: block 2s infinite linear;
  animation-delay: 1.4s;
}

@keyframes block {
  0% {
    left: 800px;
  }
  100% {
    left: -20px;
  }
}

p {
  text-align: center;
}
